<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <real>-62.0</real>
      <key>V</key>
      <real>-64.0</real>
      <key>W</key>
      <real>-58.0</real>
      <key>Y</key>
      <real>-72.0</real>
      <key>v</key>
      <real>-30.0</real>
      <key>w</key>
      <real>-26.0</real>
      <key>y</key>
      <real>-30.0</real>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <real>-52.0</real>
    </dict>
    <key>K</key>
    <dict>
      <key>a</key>
      <real>-22.0</real>
      <key>o</key>
      <real>-22.0</real>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <real>-58.0</real>
      <key>V</key>
      <real>-58.0</real>
      <key>W</key>
      <real>-52.0</real>
      <key>Y</key>
      <real>-72.0</real>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <real>-46.0</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-62.0</real>
      <key>a</key>
      <real>-48.0</real>
      <key>e</key>
      <real>-44.0</real>
      <key>o</key>
      <real>-44.0</real>
      <key>r</key>
      <real>-30.0</real>
      <key>u</key>
      <real>-40.0</real>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <real>-64.0</real>
      <key>e</key>
      <real>-24.0</real>
      <key>v</key>
      <real>-26.0</real>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <real>-58.0</real>
      <key>e</key>
      <real>-20.0</real>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <real>-72.0</real>
      <key>a</key>
      <real>-46.0</real>
      <key>e</key>
      <real>-44.0</real>
      <key>o</key>
      <real>-44.0</real>
    </dict>
    <key>b</key>
    <dict>
      <key>v</key>
      <real>-14.0</real>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <real>-12.0</real>
      <key>o</key>
      <real>-10.0</real>
    </dict>
    <key>h</key>
    <dict>
      <key>v</key>
      <real>-12.0</real>
    </dict>
    <key>n</key>
    <dict>
      <key>v</key>
      <real>-12.0</real>
    </dict>
    <key>o</key>
    <dict>
      <key>v</key>
      <real>-18.0</real>
      <key>w</key>
      <real>-14.0</real>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <real>-12.0</real>
      <key>o</key>
      <real>-10.0</real>
    </dict>
  </dict>
</plist>
